.container {
  background-color: var(--color-indigo1000);
  color: var(--color-indigo100);
  margin-top: 50px;
  padding: 15px 30px;
}

.label {
  font-weight: var(--typography-fontBold);
}

.input {
  background-color: var(--color-gray1000);
  border: 1px solid var(--color-indigo1000);
  border-radius: 18px;
  color: var(--color-indigo100);
  margin-top: 16px;
  padding: 10px 20px;
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: var(--color-indigo700);
}
.input::-moz-placeholder {
  color: var(--color-indigo700);
}
.input:-ms-input-placeholder {
  color: var(--color-indigo700);
}
.input:-moz-placeholder {
  color: var(--color-indigo700);
}

.cta {
  background-color: var(--color-pink500);
  border-radius: 18px;
  border: none;
  color: var(--color-pink1000);
  font-weight: var(--typography-fontBold);
  margin-top: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.cta:hover {
  cursor: pointer;
}

/* Mediaqueries */
@media (min-width: 768px) {
  .container {
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    max-width: 60%;
    padding: 20px 30px 50px;
  }

  .title {
    width: 100%;
  }

  .input {
    border-radius: 18px 0 0 18px;
    width: 70%;
  }

  .cta {
    align-self: center;
    border-radius: 0 18px 18px 0;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 50%;
  }

  .title {
    font-size: var(--typography-font20);
  }

  .label {
    font-size: var(--typography-font18);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 30%;
  }

  .title {
    font-size: var(--typography-font24);
  }

  .label {
    font-size: var(--typography-font20);
  }

  .input,
  .cta {
    margin-top: 30px;
  }
}
