:root {
  --color-indigo100: #19216c;
  --color-indigo700: #7b93db;
  --color-indigo1000: #e0e8f9;
  --color-cyan800: #92fdf2;
  --color-cyan1000: #e1fcf8;
  --color-gray1000: #f5f7fa;
  --color-pink1000: #ffe3ec;
  --color-pink500: #da127d;
}
