body {
  background-color: var(--color-indigo100);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
}
h1,
p {
  margin: 0;
}
body,
html {
  height: 100%;
}
